---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import GmailIcon from "../icons/GmailIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefCaseIcon from "../icons/BriefCaseIcon.astro";
---

<Layout
  title="Porfolio de Yeison Perea - Desarrollador de Software y Programador Web"
  description="autodidacta con más de 2 años de experiencia en el desarrollo de software con lenguajes de programación como: Java, JavaScript, Python, PHP, SQL, Arduino entre otro."
>
  <main>
    <SectionContainer class="py-[5%]">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Hey, soy Yeison Perea <a
          href="https://www.linkedin.com/in/yeison-estiven-perea-c%C3%B3rdoba-124b50268/"
          target="_blank"
          rel="noopener"
          class="flex items-center gap-x-10 pb-4"
        >
          <div class="flex justify-center items-center mx-3 hover:scale-110 hover transition">
            <Badge>Disponible para trabajar<Badge /></Badge>
          </div>
        </a>
      </h1>
      <h2 class="text-white text-xl opacity-80">
        +2 años de experiencia. <span class="text-yellow-200/90"
          >Desarrollador de Software Full Stack</span
        >. De Colombia, Pereira. <span class="opacity-75"
          >Especializado en desarrollar páginas webs apis y proyectos con
          arduino.</span
        >
      </h2>
      <ul class="flex gap-x-2 mt-5">
        <SocialPill href="https://www.linkedin.com/in/yeison-estiven">
          <LinkedInIcon class="w-6 h-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/perea07">
          <GithubIcon class="w-6 h-6" />
          Github
        </SocialPill>

        <SocialPill>
          <GmailIcon class="w-6 h-6" />
          yeisonestivenperea
        </SocialPill>
      </ul>
      
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="flex items-center px-3 mb-4 font-semibold py-5">
        <BriefCaseIcon class="size-7 flex gap-x-2" />Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
