<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img
    class="rounded-full w-12 h-12"
    src="https://avatars.githubusercontent.com/u/99289539?v=4"
    alt="yeison.perea photo"
  />
  
  <nav class=" text-white flex flex-row gap-x-10 opacity-80">
    <a class="hover:text-yellow-200" href="#top">Inicio</a>
    <a class="hover:text-yellow-200" href="#sobre-mi">Sobre Mí</a>
    <a class="hover:text-yellow-200" href="#experiencia">Experiencia</a>
    
    <a class="hover:text-yellow-200" href="#proyectos">Proyectos</a>
    <a class="hover:text-yellow-200" href="#contactame">Contáctame</a>
  </nav>
</header>
